[submodule "techtracker/themes/PaperMod"]
	path = techtracker/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = git clone https://github.com/adityatelange/hugo-PaperMod.git
