{{ define "main" }}
  <div id="content">
    <h1 class="title">Welcome to My Website</h1>
    <section>
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}

      {{ range $paginator.Pages }}
        <article>
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
          <div class="summary">
            {{ .Summary }}
          </div>
          <a class="read-more" href="{{ .RelPermalink }}">Read more...</a>
        </article>
      {{ end }}

      {{ template "_internal/pagination.html" . }}
    </section>
  </div>
{{ end }}
